<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="insertPart/header::header-fragment"></header>
<body>
<div class="wrapper">
    <!--    引入头部导航栏-->
    <div th:replace="insertPart/header::header-nav"></div>
    <!--    引入边部导航栏-->
    <div th:replace="insertPart/sideBar::sidebar-fragment(${path})"></div>
    <div class="content-wrapper">
        <div class="content-head">
            <div class="content-fluid"></div>
        </div>
    </div>
    <div class="content">
        <div class="content-fluid">
            <form action="EditGoods" method="post">
                <p>修改信息</p>
                <div>
                    <ul>
                        <li>商品编号(不可修改)</li>
                        <li><input type="text" th:name="GoodsId" th:value="${GoodsId}" onfocus="this.blur()"></li>
                    </ul>
                    <ul>
                        <li>商品名称</li>
                        <li><input type="text" th:name="GoodsName" th:value="${GoodsName}"></li>
                    </ul>
                    <ul>
                        <li>商品类型</li>
                        <li><input type="text" th:name="GoodsType" th:value="${GoodsType}"></li>
                    </ul>
                    <ul>
                        <li>商品简介</li>
                        <li><input type="text" th:name="GoodsInformation" th:value="${GoodsInformation}"></li>
                    </ul>
                    <ul>
                        <li>商品价格</li>
                        <li><input type="text" th:name="GoodsPrice" th:value="${GoodsPrice}"></li>
                    </ul>
                    <ul>
                        <li>商品库存</li>
                        <li><input type="number" th:name="GoodsStock" th:value="${GoodsStock}"></li>
                    </ul>
                    <ul>
                        <li><form action="EditGoods"><input type="submit" th:value="修改"></form></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>