<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{~/css/registration.css}">
</head>
<body>
<!--这是注册界面-->
<form method="post" action="/user_registration_func">
    <div id="registration-box">
        <div id="registration-logo">注册</div>
        <div>
            <div class="registration-info-box">
                <span>用户名</span>
                <input name="userName">
            </div>
            <div class="registration-info-box">
                <span>密码</span>
                <input name="userPwd" type="password">
            </div>
            <div class="registration-info-box">
                <span>再次确认密码</span>
                <input name="confirmUSerPwd" type="password">
            </div>
            <div class="registration-info-box">
                <span>民族</span>
                <select name="userNation">
                    <option th:value="-1"></option>
                    <option th:each="nationInfoList, itemStat:${NationInfoList}" th:value="${nationInfoList.getNation_num()}"
                        th:text="${nationInfoList.getNation_name()}"></option>
                </select>
            </div>
            <div class="registration-info-box">
                <span>性别</span>
                <select name="userSex">
                    <option th:value="-1"></option>
                    <option th:value="0" th:text="男"></option>
                    <option th:value="1" th:text="女"></option>
                </select>
            </div>
            <div class="registration-info-box">
                <span>邮箱</span>
                <input name="mailBox" id="email">
                <button id="get-mailBox-verify" type="button">获取验证码</button>
            </div>
            <div class="registration-info-box">
                <span>邮箱验证码</span>
                <input name="mailBoxVerifyCode" id="input-mailBox-verifyCode">
            </div>
        </div>
        <div class="registration-func-box">
            <input type="submit" value="确认" onclick="document.getElementById('input-type').value=this.value" id="registration-confirm-btn">
            <input type="submit" value="返回" onclick="document.getElementById('input-type').value=this.value">
            <input type="hidden" name="inputType" id="input-type" value="0">
            <input type="hidden" name="verifyResult" id="verify-result" value="0">
        </div>
    </div>
</form>

<script th:src="@{../../static/js/jQuery.js}"></script>
<script th:src="@{../../static/js/registration.js}"></script>
</body>
</html>