<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="insertPart/header::header-fragment"></header>
<body class="whole-page" th:fragment="goodsTypeListFragment">
<div class="wrapper">
    <!--    引入头部导航栏-->
    <div th:replace="insertPart/header::header-nav"></div>
    <!--    引入边部导航栏-->
    <div th:replace="insertPart/sideBar::sidebar-fragment(${path})"></div>
    <div class="content-wrapper">
        <div class="content-head">
            <div class="content-fluid"></div>
        </div>
    </div>
    <div class="content">
        <div class="content-fluid">
            <p>删除商品类别</p>
            <div>
                <table>
                    <tr>
                        <td>商品类别编号</td>
                        <td>商品类别名称</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="GoodsTypes, itemStat:${GoodsTypeList}">
                        <td th:text="${GoodsTypes.GoodsTypeId}" class="goods-type-id"></td>
                        <td th:text="${GoodsTypes.GoodsTypeName}" class="goods-type-name"></td>
                        <td>
                            <div>
                                <button class="goods-type-edit">修改</button>
                                <button class="goods-type-del">删除</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="edit-goodsType-dialog" style="display: none">
            <div>
                <ul>
                    <li>商品编号</li>
                    <li><input type="text" class="edit-goodsTypeId" disabled="true"></li>
                </ul>
                <ul>
                    <li>商品类别名称</li>
                    <li><input type="text" class="edit-goodsTypeName"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:src="@{../../static/js/jQuery.js}"></script>
<script th:src="@{../../static/plugins/jQuery-ui/jquery-ui.js}"></script>
<script th:src="@{../../static/js/goodsType.js}"></script>
</body>
</html>