<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="insertPart/HomeHeadBar::HomeHeader-fragment"></header>
<body>
    <div class="wrapper">

        <!--    引入头部导航栏-->
        <div th:replace="insertPart/HomeHeadBar::hoemheader-nav"></div>
        <div class="content">
            <div class="content-fluid">
                <div style="height: 100px; width: 100px "></div>
            </div>
        </div>
    </div>
    <ul class="showUl">
        <li class="LiTotal" th:each="Goods,itemStat:${GoodsSelectByKey}">
            <div class="showTotal">
                <div class="s-img" >
                    <img th:src="@{../static/pictures/{id}(id=${Goods.GoodsPictureString})}" width="200px" height="200px">
                </div>
                <div class="s-price">
                    <strong>
                        <em>￥</em>
                        <i th:text="${Goods.GoodsPrice}"></i>
                    </strong>
                </div>
                <div class="s-information">
                    <a target="blank"  th:href="@{/ShowGoodsDetail(GoodsId = ${Goods.GoodsId})}" th:text="${Goods.GoodsInformation}"></a>
                </div>
            </div>


            <div class="showFunc">
                <div class="goodStar">
                    <a class="star" th:data-gid="${Goods.getGoodsId()}" href="javascript:;" title="点击收藏"
                    style="display: block">收藏</a>
                    <a class="cancel-star" th:data-gid="${Goods.getGoodsId()}" href="javascript:;" title="点击取消收藏"
                       style="display: none;text-decoration: underline;">取消收藏</a>
                </div>
            </div>
        </li>


        <ul class="showUl">
            <li class="LiTotal" th:each="Goods,itemStat:${GoodsSelectTypeId}">
                <div class="showTotal">
                    <div class="s-img" >
                        <img th:src="@{../../static/pictures/{id}(id=${Goods.GoodsPictureString})}" width="200px" height="200px">
                    </div>
                    <div class="s-price">
                        <strong>
                            <em>￥</em>
                            <i th:text="${Goods.GoodsPrice}"></i>
                        </strong>
                    </div>
                        <div class="s-information">
                                <a target="blank" th:href="@{/ShowGoodsDetail(GoodsId = ${Goods.GoodsId})}" th:text="${Goods.GoodsInformation}"></a>
                        </div>
                </div>
                <div class="showFunc">
                    <div class="goodStar">
                        <a class="star" th:data-gid="${Goods.getGoodsId()}" href="javascript:;" title="点击收藏"
                           style="display: block">收藏</a>
                        <a class="cancel-star" th:data-gid="${Goods.getGoodsId()}" href="javascript:;" title="点击取消收藏"
                           style="display: none">取消收藏</a>
                    </div>
                </div>
            </li>
    </ul>



<!--css-->
<link rel="stylesheet" th:href="@{../static/css/SelectGoodsShow.css}">
<!--js-->
<script th:src="@{../static/js/jQuery.js}"></script>
<script th:src="@{../static/js/star.js}"></script>
</body>
</html>