<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:itemStat="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order2</title>

    <script th:src="@{../static/js/jQuery.js}"></script>
    <script th:src="@{../static/js/showDetailOrderSecond.js}"></script>
    <link rel="stylesheet" th:href="@{../static/css/cartGoods.css}">
</head>
<body>

<nav class="public-header">
    <span>
            <a></a>
        <!--            <a>注册</a>-->
        </span>
</nav>

<div class="public-shop-cart">
    <div class="content">
        <span>商品清单</span>
        <div class="cart-title">
                <span>
<!--                    <input type="checkbox" id = "all">-->
<!--                    <label for="all">全选</label>-->
                </span>
            <span>商品</span>
            <span>单价</span>
            <span>数量</span>
            <span>小计</span>
            <span>操作</span>
        </div>
        <div class="cart-detail" th:each="Goods , itemStat:${cartGoods}">
            <!--图片                -->
            <input type="checkbox" value="${z-item-checked}" checked="checked" onclick="return false" th:data-gid="${Goods.getGoodsId()}">
            <div class="cart-title" th:data-gid="${Goods.getGoodsId()}">
                <img th:src="@{../../static/pictures/{id}(id=${Goods.getGoodsPictureString()})}" >
                <!--                    <img src="src../static/images/cart1.png" alt="">-->
                <div>
                    <a th:text="${Goods.getGoodsName()}"></a>
                    <span><i class="iconfont icon-icon_shezhi"></i><a href="">选服务</a></span>
                </div>
                <span th:text="${Goods.getGoodsInformation()}"></span>
            </div>
            <div class="cart-price" th:text="${Goods.getGoodsPrice()}"></div>
            <div class="cart-number">

                <input type="text" id="mumber" th:value="${Goods.getGoodsNum()}">

            </div>
            <div class="cart-subtotal" th:text="${Goods.getTotal()}"></div>
            <div class="cart-oprate"><a th:href="@{/SimRemoveFromCart(GoodsId = ${Goods.getGoodsId()})}">删除</a></div>
        </div>
        <div class="cart-btn">
            <span>总价：</span>
            <span></span><button class="btn-settleAccounts">去结算</button>
        </div>
    </div>
</div>
</body>
</html>