<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-fragment">
    <base th:href="${#request.getScheme()+'://'+#request.getServerName()+':'+#request.getServerPort()+#request.getContextPath()+'/'}">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>啦啦啦</title>
    <link rel="stylesheet" th:href="@{../../static/plugins/jQuery-ui/jquery-ui.css}">
</head>
<nav class="main-header" th:fragment="header-nav" style="display: flex">
    <ul style="float: left">
        左边头部导航
    </ul>
    <ul style="float: right; margin-left: auto">
        右边头部导航
    </ul>
</nav>
</html>