<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="HomeHeader-fragment">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{../../static/plugins/jQuery-ui/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{../../static/css/HomeHeadBar.css}">
    <style>
        .inputSel{
            position: absolute; left: 550px;
            text-align:center;vertical-align:middle;
            font-size: 0;
        }
        .inputSty{
            height: 40px;
            width: 400px;
            border: none;
        }
        .btnSel{
            height: 40px;
            width: 50px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<nav class="main-header" th:fragment="hoemheader-nav" style="display: flex">
    <form action="SelectByKey" method="post">
        <div class="inputSel">
            <input type="text" class="inputSty" th:name="Key">
            <button type="submit" class="btnSel">搜索</button>
        </div>
    </form>
    <ul style="float: left">
        <a th:href="@{/home}" class="head-a">首页</a>
    </ul>
    <ul style="float: right; margin-left: auto">
        <div>

            <a th:href="@{/toMyShoppingCart}">我的购物车</a>
            <a th:href="@{/toStarPage}" class="head-a">我的收藏</a>
        </div>
    </ul>
</nav>
</html>